.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.text-primary{
    color: #0D1321;
}
.text-secondary{
    color: rgba(13, 19, 33, 70%); 
}
.btn-primary{
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    padding: 10px 24px;
    border: 1px solid rgba(13, 19, 33, 70%);
}
.background-1{
    background-color: rgba(255, 76, 30, 5%);
    border-radius: 10px;
}
.background-2{
    background-color: rgba(0, 76, 232, 5%);
    border-radius: 10px;
}
.background-3{
    background-color: rgba(255, 223, 0, 5%);
    border-radius: 10px;
}
/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 150px;
}
nav ul{
    display: flex;
    align-items: center;
    color: #0D1321;
}
nav ul li{
    list-style: none;
}
.nav-title{
    font-size: 30px;
    font-weight: 800;
    
}
.btn-download{
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border-radius: 8px;
    padding: 17px 24px;
}

/* Banner Styles */

.banner{
    background-image: url('../images/Hero-bg.png');
    width: 100%;
    height: auto;
}
.banner-pic{
    margin: 0 40%;
    margin-top: 2%;   
}
.banner-title{
    font-size: 42px;
    font-weight: 800;
}
.banner-content {
    text-align: center;   
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    margin: 30px 300px;
}
.btn-contact{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #FFFFFF;
    background-color: #0D1321;
    border-radius: 8px;
    padding: 17px 24px;
    margin-bottom: 5%;
}

/* Web Development section Styles */
.section-title{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-top: 8%;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    margin: 25px 290px;
    text-align-last: center;
}

.development-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 280px;
}
.development-text{
    max-width: 50%;
}
.development-title{
    font-size: 24px;
    font-weight: 700;  
}
.development-description{
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0px;
}

/* Inspiration section Styles */
.inspiration-video{
    display: flex;
    justify-content:center;   
    border: 1px solid rgba(13, 19, 33, 70%);
    width: 75%;
    padding: 40px 0px ;
    border-radius: 10px;
    margin-left: 10%;
}
.inspiration-video iframe{
    border-radius: 10px;
}
/* Target section Styles */
.target-container{
    display: flex;
    gap:24px;
    margin: 40px 150px;
}
.target{
    width: 400px;
    padding: 10px 20px;
}
.target-learn{
    font-size: 16px;
    font-weight: 700;
    padding: 15px 0px;
    text-decoration: underline;
}
.target-title{
    font-size: 24px;
    font-weight: 800;
    padding: 20px 0px;
}
.target-container img{
    margin-top: 15px;
}